<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Minecraft API</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="A simple way to check the status of a Minecraft server and display the results along with numbers of players online on your website.">
    <meta name="theme-color" content="#6AFF42">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script>if (window.location.hostname === "api.syfaro.net") window.location = "https://mcapi.us";</script>

    <style>
        body {
            font-variant-ligatures: common-ligatures discretionary-ligatures;
        }

        .dark {
            background-color: black;
            border-radius: 3px;
            border: gray 1px solid;
        }

        .images img {
            margin: 15px;
        }
    </style>
</head>
<body>
<div class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Minecraft API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-content">
            <ul class="navbar-nav mr-auto">
                <li class="navbar-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>

                <li class="navbar-item">
                    <a class="nav-link" href="#usage">Usage</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron" id="home">
    <div class="container">
        <img src="/scripts/logo.png" srcset="/scripts/logo.png 1x, /scripts/logo@2x.png 2x" class="img-fluid">

        <p class="lead">A simple way to get the status of or query a Minecraft server.</p>
        <p>We've currently gotten <span class="stats stats-total"></span> requests!</p>

        <p>
            Having issues? <a href="https://twitter.com/Syfaro">Tweet me</a> if anything is broken.
        </p>

        <p class="hidden-xs hidden-sm"><a class="btn btn-primary btn-lg" href="#usage">Get started</a></p>
    </div>
</div>

<div class="container">
    <div class="row" id="usage">
        <div class="col-sm-12 text-center">
            <h2>Usage</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>
                All requests should be sent to <code>/server/status</code> or <code>/server/query</code>.
                You may add two parameters, an <code>ip</code> and a <code>port</code>.
                JSONP is not supported as CORS is enabled.
            </p>

            <p>
                Please do not send more than one request per client per minute as data is cached server side for five
                minutes.
            </p>

            <p>
                An example request would look like <code>https://mcapi.us/server/status?ip=s.nerd.nu</code>. If you are
                using a non-standard 25565 port, you may include the port too, like this: <code>https://mcapi.us/server/status?ip=s.nerd.nu&port=25565</code>.
            </p>

            <p class="d-none d-sm-block">
                Alternatively, you can use our JavaScript library. Here's a small example of it in use.
            </p>

            <pre class="d-none d-sm-block"><code class="html">&lt;script src="https://mcapi.us/scripts/minecraft.js"&gt;&lt;/script&gt;
    &lt;div class="server-status"&gt;
      My awesome server is currently &lt;span class="server-online"&gt;&lt;/span&gt;!
    &lt;/div&gt;
    &lt;script&gt;
      MinecraftAPI.getServerStatus('s.nerd.nu', {
        port: 25565 // optional, only if you need a custom port
      }, function (err, status) {
        if (err) {
          return document.querySelector('.server-status').innerHTML = 'Error loading status';
        }

        // you can change these to your own message!
        document.querySelector('.server-online').innerHTML = status.online ? 'up' : 'down';
      });
    &lt;/script&gt;</code></pre>

            <p>
                A response from this might look the following (live response data):
            </p>

            <pre><code class="json" id="live-server-response"></code></pre>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="10%">name</th>
                        <th>description</th>
                        <th width="15%">example</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>status</th>
                        <td>the status of the request, typically success unless a poor request is made or my server is
                            having internal troubles. if this is not success, assume the data is bad and should not be used.
                        </td>
                        <td>success</td>
                    </tr>
                    <tr>
                        <th>online</th>
                        <td>if the server is online or not</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <th>motd</th>
                        <td>the server description, also known as the message of the day. some strange formatting may be in
                            this, there are various libraries available for formatting this.
                        </td>
                        <td>My Minecraft server</td>
                    </tr>
                    <tr>
                        <th>error</th>
                        <td>error message from the request. if you forget the IP the error will be <code>missing data</code>.
                            if it is an invalid IP, the error will be <code>invalid hostname or port</code>. if an error
                            starts with <code>internal server error</code>, it means something is wrong with my server.
                            empty means no error.
                        <td></td>
                    </tr>
                    <tr>
                        <th>players.max</th>
                        <td>number of players that the server will allow</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <th>players.now</th>
                        <td>number of players currently online</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th>server.name</th>
                        <td>current server version name</td>
                        <td>Spigot 1.8.3</td>
                    </tr>
                    <tr>
                        <th>server.protocol</th>
                        <td>server version protocol</td>
                        <td>47</td>
                    </tr>
                    <tr>
                        <th>last_online</th>
                        <td>the date the server was last recorded online. if empty, it has never been online. it is a unix
                            timestamp in string form. if this has the same value as <code>last_updated</code>, it means that
                            it is currently online.
                        </td>
                        <td>1431985691</td>
                    </tr>
                    <tr>
                        <th>last_updated</th>
                        <td>the date the status of the server was last updated at. it updates every five minutes, so you may
                            send requests as soon as it has expired.
                        </td>
                        <td>1431985691</td>
                    </tr>
                    <tr>
                        <th>duration</th>
                        <td>the time it took to process the original request, in nanoseconds.</td>
                        <td>143439400</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p>
                If you're looking for more information about the server, such as what plugins are installed or the name
                of the players currently online, you can try the <code>/server/query</code> endpoint instead. It takes
                the same parameters, and can be used with the provided JavaScript library by calling
                <code>MinecraftAPI.getServerQuery</code> instead.
            </p>

            <p>
                However, query must be enabled on the server for this to work.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h2>Images</h2>
            </div>

            <p>
                Images can be used on a forum, etc. to show your server's status when you can't use JavaScript.
            </p>

            <p>
                Just add an image with the source <code>https://mcapi.us/server/image?ip=server_ip</code> to your post or site.
                Add <code>&port=25566</code> if you're using a non-standard port.
                If you have a dark background, you can add <code>&theme=dark</code> to the URL and it will make the text white instead.
            </p>

            <p>
                Below is an example of the light and dark themes.
            </p>

            <div class="row images text-center">
                <div class="col-sm-12 col-md-6">
                    <img class="img-fluid" src="/server/image?ip=c.nerd.nu">
                </div>

                <div class="col-sm-12 col-md-6 dark">
                    <img class="img-fluid" src="/server/image?ip=c.nerd.nu&theme=dark">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mt-5">
            <p>
                If something doesn't work or you're interested in a new feature, mention me on
                <a href="https://twitter.com/Syfaro">Twitter</a> or <a href="mailto:syfaro@huefox.com">send me an
                email</a>.
            </p>

            <p>
                This site costs over $70 a year to run. Please consider helping at <a href="https://ko-fi.com/syfaro">ko-fi</a>.
            </p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="/scripts/site.min.js"></script>
</body>
</html>
